<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /test
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [L]
    RewriteRule ^(.*)$ /index.php?__route=$1 [L,QSA]
</IfModule>